name: Build release
on:
  workflow_call:
    inputs:
      makefile_rule:
        description: 'Custom Makefile rule to execute for building and cleaning'
        required: false
        default: ''
        type: string
      include_hidden_files:
        description: 'Include hidden files in archive (clean the confidential ones with makefile_rule)'
        required: false
        default: false
        type: boolean
      autoindex_excluded_folders:
        description: 'List of folders that should not be autoindexed, separated by commas'
        required: false
        default: ''
        type: string

jobs:
  build_module:
    name: build dependencies & create artifact
    runs-on: ubuntu-latest
    steps:
      - uses: PrestaShop/.github/.github/actions/build-module-artifact@master
        with:
          makefile_rule: ${{ inputs.makefile_rule }}
          include_hidden_files: ${{ inputs.include_hidden_files }}
          autoindex_excluded_folders: ${{ inputs.autoindex_excluded_folders }}

  update_release_draft:
    runs-on: ubuntu-latest
    needs: [build_module]
    if: github.event_name == 'push' && (github.event.ref == 'refs/heads/main' || github.event.ref == 'refs/heads/master')
    steps:
      - name: Download artifact
        uses: actions/download-artifact@v4
        with:
          name: ${{ github.event.repository.name }}
          path: ${{ github.event.repository.name }}
      - id: release_info
        uses: toolmantim/release-drafter@v5
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      - name: Prepare for Release
        run: |
          cd ${{ github.event.repository.name }}
          zip -r ${{ github.event.repository.name }}.zip ${{ github.event.repository.name }}
      - name: Clean existing assets
        shell: bash
        run: |
          curl -fsSL https://github.com/github/hub/raw/master/script/get | bash -s 2.14.1
          assets=`bin/hub api -t repos/${{ github.repository }}/releases/${{ steps.release_info.outputs.id }}/assets | awk '/\].url/ { print $2 }'`
          for asset in $assets
          do
              bin/hub api -X DELETE $asset
          done
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      - name: Publish to GitHub Release
        uses: actions/upload-release-asset@v1.0.2
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ steps.release_info.outputs.upload_url }}
          asset_path: ./${{ github.event.repository.name }}/${{ github.event.repository.name }}.zip
          asset_name: ${{ github.event.repository.name }}.zip
          asset_content_type: application/zip
